.container {
    display: grid;
    grid-template-columns: 140px 162px 995px 140px;
    grid-template-rows: 40px 610px 100px ;
    max-width: 1440px;  
  }
  .blanco {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .busqueda {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .medio {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

  }
  .menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 3;
  
    /* Estilos auxiliares */

  .container {
    max-width: 960px;
    margin: 0 auto;
    height: 80vh;
  }
  .container > * {
    border: 4px solid black;
    min-height: 100px;
    min-width: 200px;
  }
 