*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif
}
/*titulo y mainmenu*/
.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.up-container{
    position: relative;
    background-image:url(https://fedefruta.cl/wp-content/uploads/2019/12/puerto2-1536x1023.jpg),linear-gradient(#a09f9f 0%, #000000 100%);
    background-blend-mode: soft-light;
    background-position: center;
}     
.up-row {
    position: relative;
}
.up-row_title{
    margin-top: 40px;
    margin-left: 140px;
    margin-right: auto;
    padding-top: 405;
    text-align: left; 
    font-size: 70px; color: white;
    font-weight: bold;  
}
.down-title{
    margin-left: 140px;
    padding-bottom: 65px;
    text-align: left;   
    font-size: 70px; color: white;
    font-weight: lighter;
}
.up-list{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    padding-top:35px ;
    
}    
.list{
    display: grid;
    grid-template-rows: 100px auto;
    column-gap: 15px;
    flex: 33%;
    max-width: 33%;
    border: thin solid #57575765;
}
/*Inicio en azul*/
.list-title1{
    font-size: 14px;color: white;
    font-weight:lighter;
    text-align: center;
    background-color: #1fbbeb;
}    
.list-title{
    grid-row: 1/2;
    font-size: 14px;color: white;
    font-weight:lighter;
    text-align: center;
}
/*Destacadas*/
.fact-row {
    position: relative;
}
.fact_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.fact-row .container{
    position: relative;
    padding-top: 64px;
    padding-bottom: 103px;
}
.fact-row_title{
    margin-bottom: 4rem;
    text-align: center;    
}
.facts{
    display: flex;
    flex-wrap: wrap;
}
.fact{
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto auto;
    column-gap: 1.5rem;
    flex: 33%;
    max-width: 33%;
}
.fact_icon-1{
    grid-column: 1/2;
    grid-row:1/-1;
    height: 70px;
    background-image:url(file:///C:/Users/Javi/Desktop/2s/Dis%20Codigo/tarea-3-diagramacion-Javiera-PB/Img/Container.png);
    background-position: center;
    background-size: 80px;
}
.fact_icon-2{
    grid-column: 1/2;
    grid-row:1/-1;
    height: 70px;
    background-image:url(file:///C:/Users/Javi/Desktop/2s/Dis%20Codigo/tarea-3-diagramacion-Javiera-PB/Img/Barco.png);
    background-position: center;
    background-size: 75px;
}
.fact_icon-3{
    grid-column: 1/2;
    grid-row:1/-1;
    height: 70px;
    background-image:url(file:///C:/Users/Javi/Desktop/2s/Dis%20Codigo/tarea-3-diagramacion-Javiera-PB/Img/Hoja.png);
    background-position: center;
    background-size: 70px;
}
.fact_number,
.fact_label{
    grid-column: 2/3;
  
}
.fact_number{
    font-size: 3rem;
}
/*Sostenibilidad*/
.sust {
    position: relative;
}
.sust-container{
    box-sizing: border-box;
    width:1440px;
    height: 800px;
    position:relative;
    background-image: url(https://www.xtrafondos.com/wallpapers/cielo-al-atardecer-reflejado-en-el-mar-4615.jpg), linear-gradient(#616060 0%, #000000 100%);
    background-blend-mode: soft-light;
    background-position: center;
}
.fact_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.sust .container{
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.sust-title{
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 96px;
    padding-bottom: 36px;
    text-align: center; 
    font-size:30px; color: white;   
}
.sust-down-title{
    margin-right: 400px;
    margin-left: 400px;
    text-align: center;
    font-size:22px; color: white;

}
.sust-info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 290px;
    padding-bottom: 96px;
    padding-top: 63px;
}
.fact-info{
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto auto;
    padding-top: 17px;
    column-gap: 38px;
    flex: 33%;
    max-width: 33%;
    font-size:16px; color: white;
    font-weight: lighter;
}
.info_icon{
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto auto;
    column-gap: 38px;
    flex: 33%;
    height:175px;
    width: 260px;
}
.sust-press{
    display: flex;
    margin-left:470px ;
    margin-top: 18px;
    font-size:12px; color: white;
    font-weight: lighter;   
}
.sust-sitio{
    box-sizing: border-box;
    margin-right: 40px;
    padding: 10px;
    align-content: center;
    border: thin solid #57575765;
    overflow: hidden
}
/* Destacado y prensa*/
.container-2 {
    max-width: 1440px;
    max-height: 990px;
    padding-right:140px;
    padding-left: 140px;
    background-color: #e4e6e8;
} 
.destacadas {
    position: relative;
}
.destacadas .container-2{
    position: relative;
}
.destacamos{
    display: flex;
    flex-wrap: wrap;
}
.dest{
    display: grid;
    grid-template-columns: 560px 600px;
    grid-template-rows: 400px auto;
    flex: 33%;
    max-width: 33%;
}
.dest_title{
    padding-top: 83px;
    padding-bottom: 24px;
    text-align: left;
    font-size: 30px;color: #44484c;
    font-weight: lighter;
}
.img-dest{
    grid-column: 1/2;
    grid-row:1/-1;
    height: 400px;
    background-image: url(https://www.latercera.com/resizer/PZwdp6YjpfBWfZ4pTrl7JNLAXB0=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/ZACOPOI6GFCX5HXBIZBPJXZKEY.jpg),linear-gradient(#0000009a 10%, #a1a1a1a2 100%); 
    background-blend-mode: soft-light;
    background-position: center;
}
.fecha-dest{
    grid-column: 2/3;
    padding-top: 96px;
    padding-bottom: 93px;
    padding-left: 40px;
    background-color: white;
    font-size: 12px;color: #44484c;
}
.title-info-dest{
    padding-bottom: 15px;
    font-size: 24px; color: #44484c;
}
.fact-dest{
    font-size: 14px;color: #44484c;
    font-weight: lighter;
}
.link-mas{
    padding-top: 15px;
    font-size: 12px; color:#1abae9 ;
    font-weight: bolder;
}
/*prensa*/
.prens-title{
    padding-top: 50px;
    padding-bottom: 13px;
    font-size: 24px; color: #44484c;
    font-weight: lighter;
    text-align: left;    
}
.prens{
    display: flex;
    flex-wrap: wrap;
}
.press-news{
    display: grid;
    grid-template-columns: 180px 380px;
    grid-template-rows: 120px 120px;
    row-gap: 17px ;
    flex: 33%;
    max-width: 50%;
    padding-bottom: 99px;
}
.img-pres1{
    grid-column: 1/2;
    height: 120px;
    width: 180px;
    background-position: center;
}
.img-pres2{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 120px;
    width: 180px;
    background-position: center;
}
.fecha-pres{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    font-size: 12px; color: #44484c;
    font-weight: lighter;
}
.fecha-pres2{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 20px;
    padding-top: 20px;
    background-color: white;
    font-size: 12px;
    font-size: 12px; color: #44484c;
    font-weight: lighter;
}
.fact-pres{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: 12px;color: #44484c;
    font-weight: lighter;
}
.fact-pres2{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: 12px;color: #44484c;
    font-weight: lighter;
}
/*rrss*/
.prens-A{
    display: flex;
    padding-top: 50px;
}
.A-sitio{
    padding-bottom: 13px;
    font-size: 26px; color: #44484c;
    font-weight: lighter;
    text-align: left;    
}
.b-sitio{
    padding-left: 330px;
    font-size: 12px; color:#1abae9 ; 
    font-weight: bolder;
}
.press-title{
    padding-left:40px ;
    font-size: 26px; color: #44484c;
    font-weight: lighter;
}
.rrss{
    display: grid;
    grid-template-columns:280px 280px ;
    grid-template-rows: 210px ;
}
.img-rs{
    grid-column: 1/2;
    grid-row: 1/2;
}
.title-twt{
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 20px;
    background-color: white;
    font-size: 16px; color: #1abae9;
    font-weight: bold;
}
.rs-twt{
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top:48px ;
    padding-left: 20px;
    padding-right: 20px;
    font-size:13px ;color:#13181d ;
    font-weight: lighter;
}
.follow{
    padding-top: 26px ;
}
.follow-title{
    padding-top: 26px ;
    padding-left:120px ;
    font-size:16px ; color: #44484c;
    font-weight: lighter;
}
.twitter{
    font-size: 14px; color: #1abae9;
    font-weight: bold;
}
.facebook{
    font-size: 14px; color: #1abae9;
    font-weight: bold;
}
.twt-icon{
    width:20px;
    height: 17px;
    background-color: red;
}
.fc-icon{
    width:9px;
    height: 17px;
    background-color: red;
}
/*Transparencia*/
.container-3 {
    max-width: 1440px;
    margin-top: 70px;
    padding-right:140px;
    padding-left: 140px;
    padding-bottom:140px;
} 
.trans-A{
    display: flex;
    padding-top: 50px;
}
.A-trans{
    padding-bottom: 13px;
    font-size: 30px; color: #44484c;
    font-weight: lighter;
    text-align: left;    
}

.b-trans{
    grid-row:1/2 ;
    grid-column: 1/3;
    font-size: 24px; color: #44484c;
    font-weight: lighter;
}
.trans{
    display: flex;
    flex-wrap: wrap;
}
.trans-pdf {
    display: grid;
    grid-template-columns: 20px 290px 50px;
    grid-template-rows: 193px 30px 46px;
    margin-right: 40px;
    background-image: url(https://staticmer.emol.cl/Fotos/2019/03/08/file_20190308091017.jpg),linear-gradient(#0000009a 2%, #ffffff00 100%);
    background-blend-mode: soft-light;
    background-position: center;
    font-size: 22px;color: #ffffff;
}
.pdf{
    grid-row: 2/3;
    grid-column: 2/3;
}
.lisitaciones{
    display: grid;
    grid-template-columns:180px 400px auto ;
    grid-template-rows: 40px 75px 75px 75px ;
   /* border: thin solid #57575765;*/
}
.trans-title{
    grid-row: 1/2;
    grid-column: 3/4;
    font-size: 12px; color:#1abae9 ; 
    font-weight: bolder;
    text-align: justify;
}
.title-sai-01{
    padding-top: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.title-sai-19{
    padding-top: 20px;
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.title-sai-18{
    padding-top: 20px;
    grid-row: 4/5;
    grid-column: 1/2;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.text-01{
    padding-top: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.text-19{
    padding-top: 20px;
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.text-18{
    padding-top: 20px;
    grid-row: 4/5;
    grid-column: 2/3;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.links-a{
    padding-top: 20px;
    grid-row: 2/3;
    grid-column: 3/4;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.links-b{
    padding-top: 20px;
    grid-row: 3/4;
    grid-column: 3/4;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.links-c{
    padding-top: 20px;
    grid-row: 4/5;
    grid-column: 3/4;
    font-size: 14px; color: #44484c;
    font-weight: lighter;
}
.link-A{
    font-size: 12px;color:#1abae9 ;
    font-weight: bold;
    text-align: left;
}
.link-B{
    font-size: 12px;color:#1abae9 ;
    font-weight: bold;
    text-align: left;
}